/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: #ffffff;
  color: #212121;
  height: 100%;
  font-size: 16px;
  line-height: 28px;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
strong {
  margin: 0;
  padding: 0;
}

*::before,
*::after,
a,
span,
button,
.btn {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

*:focus,
a:focus,
.btn:focus,
button:focus {
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

a:focus,
a:hover {
  color: initial;
  text-decoration: none;
}

a,
button,
input,
textarea {
  outline: medium none;
  color: #212121;
}

a {
  cursor: pointer;
  text-decoration: none;
}

p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

ul,
ul li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  /* font-family: "Montserrat-Regular"; */
}

input:focus,
textarea:focus {
  -webkit-box-shadow: 0;
  box-shadow: 0;
  outline: 0;
}


a:visited {
  color: #2867d9;
  text-decoration: none;
}

.wrap {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
